services:
  redis:
    image: redis:7-alpine
    container_name: redis-server
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    restart: unless-stopped
    networks:
      - menv-network

  # n8n:
  #   image: docker.n8n.io/n8nio/n8n
  #   container_name: n8n-server
  #   ports:
  #     - "5678:5678"
  #   environment:
  #     - GENERIC_TIMEZONE=UTC
  #     - TZ=UTC
  #     - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
  #     - N8N_RUNNERS_ENABLED=true
  #     - N8N_USER_MANAGEMENT_DISABLED=false
  #     - N8N_BASIC_AUTH_ACTIVE=true
  #     - N8N_HOST=${N8N_HOST:-localhost}
  #     - N8N_PORT=5678
  #     - N8N_PROTOCOL=http
  #   volumes:
  #     - n8n_data:/home/node/.n8n
  #   restart: unless-stopped
  #   networks:
  #     - menv-network
  #   depends_on:
  #     - redis

volumes:
  redis_data:
    driver: local
  n8n_data:
    driver: local

networks:
  menv-network:
    driver: bridge
