NODE_ENV=
PORT=
CORS_ORIGIN=
SYSTEM_SECRET=

JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION=
JWT_REFRESH_TOKEN_EXPIRATION=
BCRYPT_SALT_ROUNDS=
HASHING_SECRET_KEY=

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
DYNAMODB_TABLE_PREFIX=
S3_BUCKET_NAME=
S3_PUBLIC_BUCKET_NAME=

SMTP_PASSWORD=
SMTP_USER=

# Pinecone Vector Database Configuration
PINECONE_API_KEY=
PINECONE_HOST_URL=
PINECONE_INDEX_NAME=

# Google Gemini AI Configuration
GEMINI_API_KEY=
GEMINI_EMBEDDING_MODEL=

# n8n Configuration
N8N_ENCRYPTION_KEY=
N8N_BASIC_AUTH_USER=
N8N_BASIC_AUTH_PASSWORD=
WEBHOOK_URL=
N8N_HOST=
N8N_WEBHOOK_URL=http://localhost:5678/webhook/4091fa09-fb9a-4039-9411-7104d213f601/chat

USER_TABLE=
DEVELOPER_PROFILE_TABLE=
PROJECT_TABLE=
PROJECT_TYPE_TABLE=
FILE_TABLE=
USERS_PROJECTS_TABLE=
LOG_TABLE=
CHATBOT_SESSION_TABLE=
CONVERSATION_TABLE=
MESSAGE_TABLE=
# orther tables 
