# Dependencies
node_modules

# Logs
npm-debug.log
*.log

# Build output
.next

# Version control
.git

# Environment files
.env
.env.local
.env.*.local

# IDE
.DS_Store
.vscode
.idea

# Documentation (but keep package-lock.json)
README.md
CHANGELOG.md

# Docker files
Dockerfile
.dockerignore

